/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/

#abc {
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
}

img#close {
  position: absolute;
  right: -14px;
  top: -14px;
  cursor: pointer;
}

div#popupContact {
  position: absolute;
  left: 50%;
  top: 17%;
  margin-left: -202px;
  font-family: "Roboto", sans-serif;
}

form {
  opacity: 1;
  max-width: 300px;
  min-width: 250px;

  padding: 10px 50px;
  border: 2px solid var(--beerYellow);
  font-family: "Roboto", sans-serif;
  background-color: var(--mainBlack);
}

h2.payment-h2 {
  /* background-color: #feffed; */
  padding: 20px 35px;
  margin: -10px -50px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-family: "Signation", sans-serif;
  font-size: 2.5rem;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1rem;
  color: var(--beerYellow);
}

input[type="text"] {
  width: 82%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--beerYellow);
  padding-left: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
input#email {
  width: 30%;
}
input.form-control {
  width: 20%;
}

#submit {
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block;
  background-color: #ffbc00;
  color: white;
  border: 1px solid #ffcb00;
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

span.input-group-addon {
  color: red;
  font-weight: bold;
}
label {
  margin-bottom: 0.5em;
  margin-top: 1em;
}
